<mat-toolbar color="primary">
    <a mat-button>
      <mat-icon>local_movies</mat-icon>
      Angular Películas
    </a>
    <div>
      <a mat-button routerLink="generos">Géneros</a>
    </div>   
    <div>
      <a mat-button routerLink="peliculas/buscar">
        <mat-icon>search</mat-icon>
        Búscar peliculas
      </a>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
