<div class="contenedor">
    <ul>
        <li *ngFor="let item of noSeleccionados; let index=index" (click)="seleccionar(item, index)">{{item.valor}}</li>
    </ul>
    <div class="div-botones">
        <button type="button" (click)="seleccionarTodo()" mat-flat-button color="primary">>></button>
        <button type="button" (click)="deseleccionarTodo()" mat-flat-button color="primary">
            << </button>
    </div>
    <ul>
        <li *ngFor="let item of seleccionados; let index=index" (click)="deseleccionar(item, index)">{{item.valor}}</li>
    </ul>
</div>